<div class="container-item">
    <slot />
</div>

<style>
    .container-item {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
</style>