---
import { Icon } from 'astro-icon/components'
const socialMedia = [{
    name: "instagram", link: "https://instagram.com"},
    {name: "whatsapp", link: "https://whatsapp.com"},
    {name: "facebook", link: "https://facebook.com"},
    {name: "google", link: "https://google.com"}];
---
<footer>
    {
        socialMedia.map((item) => {
            return <a href={item.link}><Icon name={`mdi:${item.name}`} class="social"/></a>
        })
    }
</footer>

<style>
    footer {
        display: flex;
        justify-content: center;
        gap: var(--spacing2);
        color: var(--color100);
        max-height: 300px;
        min-height: 200px;
        height: 100%;
        align-items: center;
        
        & .social {
            width: 32px;
            height: 32px;
            transition: all .3s ease;
            &:hover {
                color: var(--accent);
                transition: all 0.3s ease;
            }
        }

        & a {
            cursor: pointer;
            color: var(--color100);
        }
    }
</style>