---
import IconAndCaption from '@components/IconAndCaption.astro';
---
<nav>
    <a href="/kingflakes.pdf"><IconAndCaption name="utensils-variant" title="Menu" /></a>
    <a href="/about"><IconAndCaption name="house" title="About Us" /></a>
</nav>

